.navbar {
  background: #181833;
  box-shadow: 2px 2px 10px rgba(104, 104, 112, 0.2);
  border-bottom: rgba(104, 104, 112, 0.2) 1px solid;
  opacity: 0.97; }

.nav-item {
  font-family: Agency FB; }

#showcase {
  background: url("../img/bg.jpg");
  background-size: cover;
  max-height: 2000px; }
  #showcase .txt {
    font-family: Agency FB; }
    #showcase .txt h {
      font-weight: lighter; }
    #showcase .txt p {
      font-size: 24px;
      font-family: Calibri;
      color: #6b81a3; }
  #showcase .box {
    border-radius: 1%;
    box-shadow: 0px 5px 50px #767a82; }
    #showcase .box .col {
      background-color: rgba(104, 104, 112, 0.2); }
    #showcase .box ul li {
      display: inline;
      padding: 3px; }
    #showcase .box a {
      color: #b30000;
      font-size: 14px;
      text-decoration: none;
      font-weight: bold; }
    #showcase .box h {
      font-weight: normal;
      font-size: 20px;
      color: Black; }
    #showcase .box h3 {
      font-family: calibri;
      font-size: 20px;
      font-weight: normal;
      color: #6b6f75; }
    #showcase .box p {
      font-family: Calibri;
      font-size: 14px;
      color: black; }

#boxes {
  font-family: Agency FB; }
  #boxes h1 {
    font-size: 22px; }

#contact {
  background-color: #181833; }
  #contact .card-body {
    background-color: #181833; }
  #contact h4 {
    font-weight: lighter;
    font-size: 20px; }
  #contact p {
    font-size: 15px;
    color: #a5acb7; }
  #contact input, #contact textarea {
    background-color: #1f1f61;
    border: none;
    padding: 2%;
    margin-top: 10px;
    border-bottom: 1.5px solid #8585e0;
    color: white;
    font-size: 16px;
    font-family: Times new roman; }
  #contact textarea {
    padding-bottom: 4%; }

.card-body h3 {
  font-family: Calibri;
  font-size: 17;
  font-weight: lighter; }

.card-body label {
  font-size: 18px;
  font-family: Agency FB;
  color: #6b81a3; }

#foot {
  background-color: #121230; }
  #foot .navbar {
    background: #121230;
    box-shadow: 0px 1px 1px 0px rgba(104, 104, 112, 0.2);
    border-bottom: rgba(104, 104, 112, 0.2) 0.5px solid;
    opacity: 0.97; }
  #foot .fa {
    color: white;
    padding: 14px;
    background-color: rgba(115, 115, 122, 0.2);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  #foot .fa-facebook {
    padding-left: 19px;
    padding-right: 19px; }
  #foot .fa:hover {
    opacity: 0.5; }

#social p {
  padding-top: 5px;
  color: #98989b;
  font-size: 15px; }
