.navbar {
  background: #181833;
  box-shadow: 2px 2px 10px rgba(104, 104, 112, 0.2);
  border-bottom: rgba(104, 104, 112, 0.2) 1px solid;
  opacity: 0.97; }

.nav-item {
  font-family: Agency FB; }

#showcase {
  position: relative;
  background: #181833;
  background-size: cover;
  min-height: 574px;
  margin-top: 0px; }
  #showcase h2 {
    font-family: Agency FB; }
  #showcase p {
    font-family: Agency FB;
    color: #6b81a3;
    letter-spacing: 2.5px; }
  #showcase a {
    font-family: Agency FB;
    font-size: 20px; }

#boxes P {
  font-size: 18px;
  font-family: Agency FB;
  color: #6b81a3;
  letter-spacing: 2px; }

#projects h1 {
  font-family: Agency FB; }

#projects P {
  font-size: 18px;
  font-family: Agency FB;
  color: #6b81a3;
  letter-spacing: 2px;
  font-weight: bold; }

#projects a {
  font-family: Agency FB;
  font-size: 20px;
  color: black; }

#team {
  background-color: #181833; }
  #team h1 {
    font-family: Calibri;
    font-size: 40px;
    font-weight: lighter;
    color: White; }
  #team P {
    font-size: 18px;
    font-family: Agency FB;
    color: #6b81a3;
    letter-spacing: 2px;
    font-weight: bold; }

#partners .row img {
  box-shadow: 0px 3px 50px 2px #b2cccd; }

#partners h1 {
  font-size: 25px; }

.card-body {
  background-color: #181833; }

#contact {
  background-color: #181833; }
  #contact h4 {
    font-weight: lighter;
    font-size: 20px; }
  #contact p {
    font-size: 15px;
    color: #a5acb7; }
  #contact input, #contact textarea {
    background-color: #1f1f61;
    border: none;
    padding: 2%;
    margin-top: 10px;
    border-bottom: 1.5px solid #8585e0;
    color: white;
    font-size: 16px;
    font-family: Times new roman; }
  #contact textarea {
    padding-bottom: 4%; }

.card-body h3 {
  font-family: Calibri;
  font-size: 17;
  font-weight: lighter; }

.card-body label {
  font-size: 18px;
  font-family: Agency FB;
  color: #6b81a3; }

#foot {
  background-color: #121230; }
  #foot .navbar {
    background: #121230;
    box-shadow: 0px 1px 1px 0px rgba(104, 104, 112, 0.2);
    border-bottom: rgba(104, 104, 112, 0.2) 0.5px solid;
    opacity: 0.97; }
  #foot .fa {
    color: white;
    padding: 14px;
    background-color: rgba(115, 115, 122, 0.2);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; }
  #foot .fa-facebook {
    padding-left: 19px;
    padding-right: 19px; }
  #foot .fa:hover {
    opacity: 0.5; }

#social p {
  padding-top: 5px;
  color: #98989b;
  font-size: 15px; }
